/HotelReservationSystem/nbproject/private/
/HotelReservationSystemClient/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HotelReservationSystemLibrary/dist/
/HotelReservationSystem/build/
/HotelReservationSystemLibrary/build/
/HotelReservationSystem/HotelReservationSystem-ejb/dist/
/HotelReservationSystemClient/build/
/HotelReservationSystemClient/dist/
/HotelReservationSystem/dist/
/HotelReservationSystemPartner/nbproject/private/
/HotelReservationSystemPartner/build/
/HotelReservationSystemPartner/dist/
/HotelReservationsClient/nbproject/private/
/HotelReservationsClient/build/
/HotelReservationsClient/dist/
